html {
	height : 100%;
}

body {
	display : inline;
	height : 1005;
}

.hero-unit {
	font-family : sans-serif;
	margin-top : 3em;
}

.btn {

}

.btn-submit {

}

.page-title {
	font-family : sans-serif;
	margin-left : 1em;
	color : rgb(123, 250, 154);
}

.data-entry {
	display : block;
	width : 20em;
	margin-bottom : 1em;
}

.data-box {
	display: block;
}

.text-super {
	font-size: x-large;
}

.sidebar-left {
	display : inline;
	float : left;
	width : 63%;
	padding-left : 2.5em;
}

.sidebar-right {
	float : right;
	width : 30%;
	margin-top : 5em;
	height : 100%;
}

.poll-question {
	margin-left : 10em;
}

.chat-window {
	background-color : #ddc;
	margin : auto;
	height : 100%;
}

.chat-username {
	margin-right : 10px;
}

.chat-text {

}

#poll-options {
	list-style-type : none;
	padding : 0;
	margin-left : 0;
	display : inline;
}

.poll-options {
	list-style-type : none;
	margin-left : 3em;
	margin-bottom : 3em;
}

li.response {
	display : inline;
	padding : 1em;
}

li.response:hover {
	background-color : #cdc;
	border-radius: 6px;
}

.poll {
	padding-left: 10em;
}

.recent-polls {
	float : right;
	padding-top : 5em;
	width : 50%;
}

.poll-input {
	float : left;
	padding-right : 5em;
	margin-left : 2.5em;
	width : 40%;
}

.top-poll-question {
	display : inline;
}

.recent-poll {
	border-style : solid;
	border-width : 6px;
	border-color : azure;
	margin-bottom : 1em;
	margin-right : 1em;
	padding-left : 1em;
	padding-top : 1em;
	border-radius : 10em;
}

.question-entry {
	margin-bottom : 2.5em;
	width : 30em;
}

.poll-answers {
	margin-left : 4.5em;

·prose {
	font-family: 'Fanwood Text', serif;
}
