html {
	height : 100%;
}

body {
	display : inline;
	height : 100%;
	font-family : sans-serif;
}

.hero-unit {
	margin-top : 3em;
	background: rgb(243, 243, 243);
	padding: 1em;
	padding-bottom : 2.5em;
}

.btn {

}

.btn-submit {
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 15px;
}

.btn-create {
	float : right;
}

.page-title {
	margin-left : 1em;
	color : rgb(123, 250, 154);
	font-family : 'Oregano', cursive;
	font-size : 3.5em;
}

.subtitle {
	color : rgb(119, 138, 138);
	font-size : 1.5em;
}

.data-entry {
	display : block;
	width : 25em;
	margin-bottom : 1em;
	height : 2em;
	border-radius : 1px;
	padding-left : 1em;
}

.data-box {
	display: block;
}

.text-super {
	font-size: x-large;
}

.sidebar-left {
	display : inline;
	float : left;
	width : 63%;
	padding-left : 2.5em;
}

.sidebar-right {
	float : right;
	width : 30%;
	margin-top : 5em;
	height : 100%;
}

.poll-question {
	margin-left : 10em;
	margin-bottom : 1em;
}

.chat-window {
	border-left-style : outset;
	padding-left : 0.5em;
	margin : auto;
	height : 100%;
}

.chat-username {
	margin-right : 10px;
	color : #ddc;
}

.chat-text {

}

.chat-comment {
	font-family : 'Flamenco', cursive;
}

#poll-options {
	list-style-type : none;
	padding : 0;
	margin-left : 0;
	display : inline;
}

.poll-options {
	list-style-type : none;
	margin-left : 3em;
	margin-bottom : 3em;
}

li.response {
	display : inline;
	padding : 1em;
}

li.response:hover {
	background-color : #cdc;
	border-radius: 6px;
}

.poll {
	padding-left: 10em;
}

.recent-polls {
	float : right;
	width : 50%;
	margin-top : 5%;
}

.poll-input {
	float : left;
	padding-right : 5em;
	margin-left : 2.5em;
	width : 40%;
}

.top-poll-question,
.top-poll-answer {
	display : inline;
}

.recent-poll {
	border-style : solid;
	border-width : 6px;
	border-color : azure;
	margin-bottom : 1em;
	margin-right : 1em;
	padding-left : 1em;
	padding-top : 1em;
	border-radius : 10px;
}

.question-entry {
	margin-bottom : 2.5em;
	width : 30em;
	height : 5em;
	border-radius : none;
	max-width : 34.25em;
	max-height : 15em;
}

.poll-answers {
	margin-left : 2em;
}

.prose {
	font-family : 'Fanwood Text', serif;
	font-size : large;
	line-height : 1.5;
}

.declaration {
	margin-top 
}

.links {
	padding-top : 1em;
}

a.link {
	display: block;
	padding-bottom: 0.5em;
	color : #daa;
}

a.main-page-link {
	font-size: larger;
	text-decoration: none;
}

a.main-page-link:hover {
	border-radius: 6px;
	text-decoration: underline;
}

.login-header {
	padding-left : 2.5em;
	float : left;
}

.login-body {
	margin-top : 8em;
}
