<link href="http://fonts.googleapis.com/css?family=Oregano" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="left" class="poll-input">
		<h1 id="title" class="page-title">Pollchat</h1>
		<div id="hero" class="hero-unit hero-poll">
			<div id="poll-creation" class="poll-create-options">
				<h2 id="subtitle-createpoll" class="subtitle">Create Poll</h2>
				<form action="/poll" method="POST" onsubmit="return(validatePollEntry());">
					<textarea id="pollquestion" name="pollquestion" class="data-entry question-entry" placeholder="Question"></textarea>
					<div id="pollresponses" class="poll-answers">
						<input name="pollresponse1" class="data-entry data-entry-large" type="text" placeholder="Option 1"/>
						<input name="pollresponse2" class="data-entry data-entry-large" type="text" placeholder="Option 2"/>
						<input name="pollresponse3" class="data-entry data-entry-large" type="text" placeholder="Option 3"/>
						<input name="pollresponse4" class="data-entry data-entry-large" type="text" placeholder="Option 4"/>
						<button class="btn-custom btn-create">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="right" class="recent-polls">
		<h2 id="subtitle-recentpoll" class="subtitle">Recent Polls</h2>
		{{range $index, $element := .}}
		<a class="recent-poll link poll-link" href="/poll/{{$element.Q.Id}}">
			<p class="poll-number">{{$element.Q.Id}}</p>
			<p class="top-poll-question">{{$element.Q.Question}}</p>
			<p class="top-answer">{{$element.Top}}</p>
		</a>
		{{end}}
		<!-- <a id="poll-2" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 2</p>
			<p class="top-poll-question">Which of these languages is best?</p>
			<p class="top-answer">Ruby</p>
		</a>
		<a id="poll-3" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 3</p>
			<p class="top-poll-question">What animal is the best?</p>
			<p class="top-answer">Orangutan</p>
		</a>
		<a id="poll-4" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 4</p>
			<p class="top-poll-question">Who wrote 'The Hobbit'?</p>
			<p class="top-answer">J.R.R. Tolkien</p>
		</a>
		<a id="poll-5" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 5</p>
			<p class="top-poll-question">In which city was Moulin Rouge set?</p>
			<p class="top-answer">Paris</p>
		</a> -->
	</div>
