<link href="http://fonts.googleapis.com/css?family=Oregano" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="left" class="poll-input">
		<h1 id="title" class="page-title">Pollchat</h1>
		<div id="hero" class="hero-unit hero-poll">
			<div id="poll-creation" class="poll-create-options">
				<h2 id="subtitle-createpoll" class="subtitle">Create Poll</h2>
				<textarea class="data-entry question-entry" placeholder="Question"></textarea>
				<div class="poll-answers">
					<input class="data-entry data-entry-large" type="text" placeholder="Option 1"/>
					<input class="data-entry data-entry-large" type="text" placeholder="Option 2"/>
					<input class="data-entry data-entry-large" type="text" placeholder="Option 3"/>
					<input class="data-entry data-entry-large" type="text" placeholder="Option 4"/>
					<a href="poll.xhtml" class="btn-custom btn-create" onclick="createPoll();">Submit</a>
				</div>
			</div>
		</div>
	</div>
	<div id="right" class="recent-polls">
		<h2 id="subtitle-recentpoll" class="subtitle">Recent Polls</h2>
		<a id="poll-1" class="recent-poll link poll-link" href="poll.xhtml">
			<p class="poll-number">Poll 1</p>
			<p class="top-poll-question">What is the name of the current James Bond?</p>
			<p class="top-answer">Daniel Craig</p>
		</a>
		<a id="poll-2" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 2</p>
			<p class="top-poll-question">Which of these languages is best?</p>
			<p class="top-answer">Ruby</p>
		</a>
		<a id="poll-3" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 3</p>
			<p class="top-poll-question">What animal is the best?</p>
			<p class="top-answer">Orangutan</p>
		</a>
		<a id="poll-4" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 4</p>
			<p class="top-poll-question">Who wrote 'The Hobbit'?</p>
			<p class="top-answer">J.R.R. Tolkien</p>
		</a>
		<a id="poll-5" class="recent-poll link poll-link" href="#">
			<p class="poll-number">Poll 5</p>
			<p class="top-poll-question">In which city was Moulin Rouge set?</p>
			<p class="top-answer">Paris</p>
		</a>
	</div>
