<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Pollchat - Realtime polling in a flash</title>
<script type="application/javascript" src="main.js" ></script>
<link href="pollchat.css" rel="stylesheet" type="text/css"/>
	{{yield}}
</body>
</html>
