<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oregano'/>
</head>
<body>
	<div id="header" class="login-header">
	<a href="/" class="page-title">Pollchat</a>
	</div>
	<div id="login-body" class="login-body">
		<div id="hero" class="hero-unit login-unit">
			<div id="details" class="data-box">
				<a href="/oauth2login" class="btn-custom btn-submit">Login with Google</a>
			</div>
		</div>
	</div>
