<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Oregano'/>
</head>
<body>
	<div id="header" class="login-header">
	<h1 class="page-title">Pollchat</h1>
	</div>
	<div id="login-body" class="login-body">
		<div id="hero" class="hero-unit login-unit">
			<div id="details" class="data-box">
				<input type="email" class="email-entry data-entry data-entry-large" placeholder="email@example.com"/>
				<input type="password" class="data-entry data-entry-large" placeholder="password"/>
				<a href="/" class="btn-custom btn-submit">Login</a>
			</div>
		</div>
	</div>
