<link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'/>
</head>
<body onload="onPollLoad();">
	<div id="left-side" class="sidebar-left">	
		<h1 id="title" class="page-title">Pollchat</h1>
		<div id="hero" class="hero-unit hero-poll">
			<div id="poll-question" class="poll-question">
				<span class="text-super" id="pollNumber">{{.Id}}</span>
				<span class="text-super" id="pollQuestion">{{.Question}}</span>
			</div>
			<div id="poll-options">
				<ul class="poll-options">
					{{range $index, $element := .Responses}}
					<li id="pollResponse{{$index}}" class="response" onclick="showPoll({{$index}});">{{$element.Response}}</li>
					{{end}}

				</ul>
			</div>
			<div id="poll-results" class="poll hidden">
				<img src="http://placehold.it/500x500" alt="Poll Results Graph shown here"/>
			</div>
		</div>
	</div>
	<div id="secondary" class="sidebar-right chat-block">
		<div id="chat-input" class="chat-message">
			<input id="chat-entry" class="data-entry chat-entry" type="text" onkeydown="if (event.keyCode == 13) document.getElementById('chat-send').click()" placeholder="Type your message here..."/>
			<span id="chat-send" class="btn btn-custom" onclick="sendMessage();">Send</span> 
		</div>
		<div id="chat" class="chat-window">
		</div>
	</div>
